html ,body{
	margin: 0;
	padding: 0;
	height: 100%;
}
.container {
	height: 100%;
	background-color: #999;
	z-index: 1;

}
.top {
	height: 64px;
	background-color: #333;
	padding-left: 232px;
}
.navs {
	float: left;
	margin: 0;
	padding: 0;
	color: #FFF;


}
.nav {
	padding-left: 20px;
	padding-right: 20px;
	background-color: #666;
	color: #FFF;
	line-height: 32px;
	border-bottom: 5px #d7d7d7 solid;


}
.steps {
	margin: 0;
	padding: 0;
	list-style: none;



}
.steps li{
	display: block;
	position: relative;
	background-color: #F00;
	float: left;
	line-height: 36px;
	padding-bottom: 20px;
}
.steps li div{
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 20px;
	left: 0px;
	background-color: #00F;
}
.steps .step{
	border-bottom: 5px solid #d7d7d7;
	line-height: 36px;


}
.steps .step:after{
	content: "";


}
.con {
	background-color: #333;
	position: relative;
	height: 60px;
	list-style: none;
	margin: 0;
	padding: 0;
	padding-top: 4px;
	margin-left: 24px;
}
.con::before {
	background-color: #666;
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: 14px;
	left: 0px;
	z-index: 1;
	content: "";
}
.con::after {
	background-color: #F00;
	position: absolute;
	width: 100px;
	height: 2px;
	bottom: 158px;
	left: 0px;
	z-index: 2;
	content: "";
}
.a2 {
		counter-increment: li;

	position: relative;
	float: left;
	text-align: center;
	font-size: 14px;
	line-height: 36px;
	min-height: 60px;
	padding-left: 24px;
	padding-right: 24px;
	color: #CCC;
	text-shadow: 3px 3px 3px rgba(221,223,225,0.3);
}
.a1:before {
	z-index: 4;
	content: counter(li)"、";
	width: 16px;
	height: 16px;
	border-radius: 8px;
}
.a1::after {
	width: 8px;
	z-index: 3;
	height: 8px;
	color: #FFF;
	background-color: #888;
	position: absolute;
	border-radius: 8px;
	bottom: 6px;
	content: "";
	left: 50%;
	margin-left: -8px;
	border: 4px solid #e3d6d9;
	transition-duration: 0.3s;
	transition-property: all;
	transition-timing-function: ease-in-out;
}
.a1:hover {
	color: #b9e980;
	text-shadow: 3px 3px 3px rgba(64,113,112,0.8);
}
.a1:hover::after {
	background-color: #6baf3f;
	width: 12px;
	height: 12px;
	left: 50%;
	margin-left: -10px;
	bottom: 4px;
	border-radius: 10px;
	transition-duration: 0.3s;
	transition-property: all;
	transition-timing-function: ease-in-out;
	border: 4px solid #fff;
	font-size: 14px;
	font-weight: bold;
}
.btns {
	float: right;
	padding-top: 12px;
	padding-bottom: 12px;
	height: 24px;

}
.btn {
	float: left;
	padding-left: 12px;
	padding-right: 12px;
	background-color: #09F;
	color: #FFF;
	margin-left: 12px;
	margin-right: 12px;
	line-height: 24px;
	border-radius: 6px;


}
.down {
	background-color: #999999;
	padding-left: 232px;



}
.paper {
	width: 800px;
	min-height: 480px;
	background-color: #FFF;
	margin: auto;
	margin-top: 36px;
	box-sizing: border-box;
	padding: 64px 48px 64px 48px;
	border: 1px solid #666;
	box-shadow:0 0 7px 5px rgba(100,100,100,0.6);



}
.content {
	text-align: center;
}
.form {
	border-top: 1px solid #333;
	border-left: 1px solid #333;
	margin: auto;
	font-size: 14px;

}
.form table{
	margin: auto;
	box-sizing: border-box;
	table-layout: fixed;

}
.form .row td{
	border-bottom: 1px solid #333;
	border-right: 1px solid #333;
	box-sizing: border-box;
	height: 100%;
	padding-top: 6px;
	padding-bottom: 6px;

}
.form span{
	display: block;
	box-sizing: border-box;
	line-height: 24px;
	padding-left: 12px;
	padding-right: 12px;


}
.left {
	width: 250px;
	position: fixed;
	top: 0px;
	left: 12px;
	z-index: 3;
	box-sizing: border-box;
}
.logo {
	height: 64px;
	line-height: 64px;
	color: #FFF;
	background-color: #0099CC;
	padding-left: 12px;
	padding-right: 12px;
	font-size: 28px;
	font-weight: bold;
	border-bottom-width: 0px;
	border-bottom-style: dashed;
	border-bottom-color: #06C;
	display: block;
}
.logo .text {
	font-size: 32px;
	font-weight: bold;
	float: left;
	padding-left: 12px;

}
.logo .text: first-letter{

	font-size: 36px;
	font-weight: bold;

}
.files {
	background-color: #e3e6e9;
	height: 600px;
	width: 250px;
}
.newPage {
	color: #FFF;
	font-weight: 900;
	display: block;
	float: right;
	border: 2px solid #fff;
	border-radius: 17px;
	width: 34px;
	height: 34px;
	text-align: center;
	line-height: 34px;
	font-family: "黑体";
	font-size: 34px;
	box-sizing: border-box;
	margin-top: 16px;
	cursor: default;
}
.wrap{
	width: 0px;
	height: 0px;
	border-top: 60px solid #e3e6e9;
	border-right: 250px solid transparent;
	border-bottom: 0px solid #f00;
	border-left: 0px solid #0f0;
	content: "";
}
