.form {
	width: 100%;
	font-size: 12px;
	position: relative;
	z-index: 20;
	height: 100%;
	text-align: left;
	padding: 0 12px;
	box-sizing: border-box;
}
.form .nav{
	position: absolute;
	right: 0px;
	z-index: 21;
	top: 0px;
	background-color: rgba(201,201,201,1);
	border-left: 1px dotted #f1f2f3;
}
.form .nav div{
	line-height: 32px;
	border-bottom: 1px dotted #f1f2f3;
	padding-left: 16px;
	padding-right: 12px;
	cursor: default;
}
.form .nav div:hover{
	background-color: #e1e2e3;
}
.form .section {
	background-color: #FFFFFF;
	text-align: left;
	z-index: 11;
	padding-top: 24px;
}
.form .row {
	height: 32px;
	line-height: 32px;

}
.form .row span{
	display: inline-block;


}
.form .w1 {
	width: 60px;

}
.form .w2 {
	width: 100px;

}
.form .w3 {
	width: 100px;

}
.form .text {

}
.form .text.disable {
	background-color: #c3c6c9;
}
.form .childForm {
	position: absolute;
	z-index: 11;
}
.form .childForm{
	background:rgba(100,100,100,0.8);
	position: fixed;
	z-index: 60;
	left: 30%;
	top: 30%;
	line-height: 32px;
	padding: 7px 7px 7px 7px;
	border-radius: 5px;
}
.form .childForm .title{
	background:rgba(100,100,100,0.6);
	color: #FFF;
	font-weight: bold;

}
.form .childForm .childTable{
	background:rgba(255,255,255,1);
	border: 1px solid #CCC;
	background-color: #FFF;
	opacity: 1;
}
.form .childForm .childTable span{
	display: block;
	float: left;
	width: 80px;

}
.form .formTable {

}
.form .childForm .childTable button{
	line-height: 24px;


}
.form.big .paper{
	width: 1122px;
}
.form .title {
	line-height: 32px;
	font-size: 16px;
	font-weight: bold;
	background-color: #C5C5C5;
	margin-bottom: 16px;
}

.form .form_title {
	line-height: 48px;
	font-size: 24px;
	padding-bottom: 12px;
	font-weight: bold;


}
.form .row span{

}
.form .row label{
	display: inline-block;
	text-align: right;
	padding-right: 4px;

}
.form .hidden {
	display: none;

}
.form .blank {
	background-color: #CCC;
	color: #333;
}
.form .attr {
	color: #069;
}
.form .slt {
	height: 20px;
	line-height: 20px;
	width: 100%;
}
.form .row td{
	padding-left: 10px;
	padding-right: 10px;
	box-sizing: border-box;
	border-right: 1px solid #999;
}
.form .row .lbl{
	color: #333;
	text-align: center;
}
.form .hint {
	color: #999;
	text-align: right;
}
.form .hint .text{
	color: #999;
	text-align: right;
}
.form .hint .slt{
	color: #999;
	text-align: right;
}
.form .disable {
	background-color: #dedede;
}
.form .attr td{
	color: #333;
	text-align: left;	
}
.form .selectRow {
	background-color: #dbeafc;

}
.form .activeTr {
	background-color: #CCC;
}
.form .row td{
	vertical-align: middle;
	line-height: 24px;
	border-bottom: 1px solid #999;

}
.form .rows td{
	border-bottom: 1px solid #999;
}
.form .childs td{
	border-bottom: 1px solid #999;
}
.form .row td div{
	line-height: 24px;
	font-size: 12px;
	-moz-user-focus: ignore !important;
	outline:none;
	word-break: break-all;
	overflow: hidden;
	margin-top: 6px;
	margin-bottom: 6px;
}
.form .row td textarea{
	line-height: 20px;
	font-size: 12px;
	-moz-user-focus: ignore !important;
	outline:none;
	overflow: hidden;
	padding: 0;
	margin: 0;
	border: 0px none #FFF;
	vertical-align: middle;
	margin-top: 6px;
	margin-bottom: 6px;
	background-color: transparent;
	height: 20px;
	resize: none;
}
.form .row input {
	line-height: 20px;
	font-size: 12px;
	-moz-user-focus: ignore !important;
	outline: none;
	overflow: hidden;
	padding: 0;
	margin: 0;
	border: 1px solid #ccc;
	vertical-align: middle;
	margin-top: 6px;
	margin-bottom: 6px;
	background-color: transparent;
	height: 20px;
	resize: none;
}
.form .img{
	overflow: hidden;
	position:relative;
	background-repeat:no-repeat;
	background-position:center;
	text-align: center;
}
.form .img input{
	cursor:default;
	opacity: 0;
	right: 0px;
	position: absolute;
	top: 0px;
}
.form .img .text{
	position: absolute;
}
.form .req div{
	position: relative;

}
.form .req div::before{
	position: absolute;
	content: "*";
	right: 0px;
	color: #F00;

}
.form .edit {

}
.form .error {
	color: #F00;

}
.form .errorMsg .tri {
	width:0;
	height:0;
	border-bottom:0px transparent solid;
	border-top:6px rgba(153,102,51,0.9) solid;
	border-left:4px transparent solid;
	border-right:6px transparent solid;
	margin-left: 12px;
}
.form .errorMsg .info {
	height:24px;
	background-color: rgba(153,102,51,0.9);
	line-height: 24px;
	border-radius:5px;
	color: #FFF;
	padding-left: 8px;
	padding-right: 8px;
	font-size: 12px;
	opacity: 1;
}
.form .errorMsg  {
	position: absolute;
	left: 460px;
	height: 36px;
	top: 70px;
	z-index: 40;
	opacity: 1;
	display: none;
}
