body {
	background-color: #666;
}
.demo {
	width: 200px;
	height: 400px;
	margin: 40px auto 0;
}
.menu > li {
	line-height: 50px;
	border-bottom: 1px solid #3d3d3d;
	box-shadow: 0 1px 0 #888;
}
.menu > li:first-child {
	border-top: 1px solid #3d3d3d;
	box-shadow: 0 1px 0 #888, 0 1px 0 #888 inset;
}
.menu a {
	position: relative;
	outline: 0;
	display: block;
	text-align: left;
	color: #e5e5e5;
	font-size: 18px;
	text-shadow: 0 1px 1px #171717;
	padding: 0 40px;
}
.menu a:hover {
	text-decoration: none;
}
.menu > li > a:before, .menu > li > a:after {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
	-webkit-font-feature-settings: "liga" 1, "dlig" 1;
	-moz-font-feature-settings: "liga=1, dlig=1";
	-ms-font-feature-settings: "liga" 1, "dlig" 1;
	font-feature-settings: "liga" 1, "dlig" 1;
	font-size: 26px;
}
.menu > li > a:before {
	position: absolute;
	left: 10px;
	color: #e5e5e5;
	text-shadow: inherit -1px 0 #fff, 0 -2px 0 #1a1a1a, 0 1px 2px #1a1a1a;
}
.menu > li > a:after {
	position: absolute;
	right: 10px;
	color: #292929;
	text-shadow: -1px 0 0 #050505, 1px 0 0 #868686;
}
.menu > li > a:after {
	content: "plus";
	font-family: 'LigatureSymbols';
}
.menu ul {
	line-height: 30px;
	max-height: 0;
	overflow: hidden;
	-webkit-transition: max-height .5s linear;
	-moz-transition: max-height .5s linear;
	transition: max-height .5s linear;
}
.menu ul a {
	color: #000;
	text-shadow: 0 1px 1px #848484;
	font-size: 12px;
}
.menu ul a:hover {
	color: #ccc;
	text-shadow: 0 1px 0 #252525;
}
.menu li:target > a:after {
	content: "minus";
	font-family: 'LigatureSymbols';
}
.menu li:target ul {
	max-height: 200px;
	border-top: 1px solid #3d3d3d;
	box-shadow: 0 1px 0 #888 inset;
}
@font-face {
	font-family: 'LigatureSymbols';
	src: url('../../../src/wbScreen/2013-8-6/theme/font/LigatureSymbols-2.05.eot');
	src: url('../../../src/wbScreen/2013-8-6/theme/font/LigatureSymbols-2.05.eot?#iefix') format('embedded-opentype'), url('../../../src/wbScreen/2013-8-6/theme/font/LigatureSymbols-2.05.woff') format('woff'), url('../../../src/wbScreen/2013-8-6/theme/font/LigatureSymbols-2.05.ttf') format('truetype'), url('../../../src/wbScreen/2013-8-6/theme/font/LigatureSymbols-2.05.svg#LigatureSymbols') format('svg');
	font-weight: normal;
	font-style: normal;
}
    
