html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #009966;
	color: #FFF;
}
.center {
	height: 480px;
	width: 960px;
	position: relative;
	top: 50%;
	
	margin-top: -240px;
	margin-left: auto;
	margin-right: auto;
}
.center>div {
	float: left;
}
.area1 {
	width: 726px;
}
.area2 {
	width: 234px;
	float: right;
}
.area3 {
}
.area1 >div{
	float: left;
	margin-right: 4px;
	margin-bottom: 4px;
	height: 108px;
}
.area1 div:nth-child(2n){
	float: left;
	margin-right: 4px;
	margin-bottom: 4px;
	height: 108px;
	background-color:#53aecf;
}
.area1 div:nth-child(2n+1){
	float: left;
	margin-right: 4px;
	margin-bottom: 4px;
	height: 108px;
	background-color:#73ced6;
}
.area1 >div:hover{
	background-color: #16292a;

}
.area2 >div{
	float: left;
	margin-right: 4px;
	margin-bottom: 4px;
	height: 108px;
}
.item1 {
	width: 220px;
	
}
.item2 {
	width: 220px;
	
}
.item3 {
	width: 108px;
	
}
.item4 {
	width: 108px;
	
}
.item5 {
	width: 108px;
	
}
.item6 {
	width: 108px;
	
}
.item7 {
	width: 220px;
	
}
.item8 {
	width: 108px;
	
}
.item9 {
	width: 108px;
	
}
.item10 {
	width: 220px;
	
}
.item11 {
	width: 220px;
	
}
.item12 {
	width: 220px;
	
}
.item13 {
	width: 220px;
	
}
.item14 {
	width: 220px;
	
}
.item15 {
	width: 220px;
	
}

.item21 {
	width: 220px;
	
}
.item22 {
	width: 220px;
	
}.item23 {
	width: 108px;
	
}.item24 {
	width: 108px;
	
}.item25 {
	width: 108px;
	
}.item26 {
	width: 108px;
	
}
